<%- include("../partials/header") %>

<body style="background-color: aliceblue;">
    
    <%- include("../partials/navbar") %>

    <a href="/carrinho" class="m-3">
      <img src="https://cdn4.iconfinder.com/data/icons/eon-ecommerce-i-1/32/cart_shop_buy_retail-128.png" style="height: 50px;">
    </a>


    <hr class="m-2">

    <a href="/restaurantes">
        <button type="button" class="btn-close m-2" aria-label="Close"></button>
    </a>
    
    <div class="container">

        <div class="card mb-3">
            
            <div class="card-body">
              <h5 class="card-title"> <%= restaurante.nome_fantasia %> </h5>
              <p class="card-text"> <%= restaurante.tipo %> </p>
              <p class="card-text"><small class="text-muted"> <%= endereco.logradouro %>, <%= endereco.numero %> </small></p>
            </div>
        </div>

        <h5>Lista de pratos</h5>

        <hr>

        <div class="list-group">

            <% pratos.forEach(prato => { %>

                <a href="#" class="list-group-item list-group-item-action">
                    
                    <div class="card" style="max-width: 100%;border:none">
                        <div class="row g-0">
                          <div class="col-md-2">

                            <img src="<%= prato.caminho_foto %>" alt="..." style="max-height: 150px; max-width:150px;">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title"> <%= prato.nome %> </h5>
                              <p class="card-text"><%= prato.descricao %></p>
                              <p class="card-text">R$<%= prato.preco %></p>
                            </div>
                          </div>
                        </div>

                        <form action="/carrinho/adicionar" method="post" class="form-control">

                          <input type="hidden" name="id_prato" value="<%= prato.id_prato %>">
                          <input type="hidden" name="id_restaurante" value="<%= restaurante.id_restaurante %>">
                          <input type="number" name="qtd_prato" class="form-control mb-2" placeholder="Insira a quantidade" required>
                          <button class="form-control btn btn-success">Adicionar ao carrinho</button>

                        </form>

                        
           
                      </div>

                </a>
        
            <% }) %>
            
        </div>


        <div id="body">

            <div id="pratos">

                

            </div>

        </div>

        

    </div>

    <hr class="m-2">

</body>

<%- include("../partials/footer") %>